header {
  height: auto;
  min-height: 750px;
  padding: 120px 163px;
  text-align: center;
  background-image: url(../assets/Background_Intro.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  div > img:first-child {
    padding: 4px;
    border: 2px solid var(--red);
    border-radius: 50%;
  }
  .avatar-wrapper {
    position: relative;
    display: inline-block;
  }
  .icon-code {
    position: absolute;
    top: 70px;
    left: 70px;
    pointer-events: none;
  }

  h2 {
    margin-block: 56px 8px;
    font: var(--font-subtitle);
    color: var(--gray-200);
  }

  h1 {
    margin-bottom: 20px;
    font: var(--font-title-lg);
    color: var(--gray-100);
  }

  p {
    margin-bottom: 80px;
    font: var(--font-text-sm);
    color: var(--gray-300);
    max-width: 680px;
  }

  .skill-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;

    list-style: none;
  }
  .skill-tag {
    padding: 8px 16px;
    display: flex;
    align-items: center;
    height: 40px;

    gap: 8px;

    background-color: var(--gray-400);
    border-radius: 100px;

    span {
      font: var(--font-text-md);
      color: var(--gray-200);
    }
  }

  .down-arrow {
    margin-top: 94px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
