main {
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  text-align: center;
}

#highlights {
  display: flex;
  flex-direction: column;
  gap: 56px;
  background-color: var(--gray-500);
  min-height: 817px;
}

span {
  font: var(--font-subtitle);
}

h2 {
  font: var(--font-title-md);
  color: var(--gray-100);
}

.card-container {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 24px;
  max-width: 1040px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .card-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.card {
  height: auto;
  border-radius: 10px;
  min-width: 0;
  padding: 5%;
  background-color: var(--gray-400);
  overflow-wrap: break-word;
}

.card img {
  max-width: 100%;
  border-radius: 10px;
}

.card h3 {
  font: var(--font-title-sm);
  color: var(--gray-100);
}

.card p {
  font: var(--font-text-sm);
  color: var(--gray-200);
}

section:first-of-type .card:hover {
  outline: 3px solid var(--gray-200);
}

figcaption {
  margin: 0;
  padding: 20px 12px 17px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

#services {
  display: flex;
  flex-direction: column;
  gap: 56px;
  padding: 88px 0;

  background-color: var(--gray-600);
}

#services .card {
  background-color: var(--gray-600);
  outline: 3px solid var(--gray-400);
  padding: 20px;
}

#services .card img {
  width: 48px;
  height: 48px;
}
